################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskbarBatteryMeter/bin
/TaskbarBatteryMeter/obj
/TaskbarCore/obj
/TaskbarCore/bin
/.vs/TaskbarMeters/v14
/TaskbarCpuMeter/bin
/TaskbarCpuMeter/obj
/TaskbarMemoryMeter/obj
/TaskbarMemoryMeter/bin
/TaskbarDiskIOMeter/obj
/TaskbarDiskIOMeter/bin
.vs